syntax: glob
.DS_Store
*.sw*
*.*~
*.pdf
*.gem
extras
test.rb
vendors/*.tgz
vendors/*.jar
vendors/*.zip
vendors/processing-*/
vendors/jruby-*/
library/dxf/
library/minim/
library/net/
library/pdf/
library/serial/
library/video/
lib/core/*.jar
